.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .book-item {
    width: 100%;
  }
  